@import url('base.css');
table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #EFEFEF;
}

td {
    border: 1px dotted green;
    padding: 5px 10px;
}
td.uploadTd {
    width: 150px;
    padding: 2px 5px;
    cursor: pointer;
}
td.tdCenter {
    text-align: center;
}
td.updateTd:hover{
    cursor: pointer;
    font-style: italic;
    font-weight: bolder;
}

.edit {
    cursor: pointer;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

/*弹出主题修改窗口-内容样式*/
.modalBody ul {
    list-style-type: decimal;
}

.modalBody ul li {
    list-style-type: decimal;
    padding: 5px 10px;
}

/*有span孩子的li元素*/
.modalBody li>span:hover {
    background-color: #BEBFC3;
    font-style: italic;
    cursor: pointer;
}
/*没有span的li元素*/
.modalBody li:not(:has(>span)):hover {
    background-color: #BEBFC3;
    font-style: italic;
    cursor: pointer;
}

/*搜索按钮与图标的位置*/
#searchForm select{
    display: inline-block;
    width: 100px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 2px;
}
.searchInput {
    background: none;
}
.searchButton {
    left: 10px;
    top: 10px;
}
/*弹出的文章节点列表的样式*/
.hiddenUl{
    display: none;
}
.folder{
    font-size: 18px;
    margin-left: 5px;
}
.deployButton {
    cursor: pointer;
    width: 50px;
    height: 20px;
    border: none;
    background-color: #03AA6D;
    border-radius: 4px;
}