@import url('base.css');
/*文章编辑区域*/
.articleMain {
    display: flex;
    flex-direction: row;
    width: 80%;
    min-height: calc(100vh - 100px);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.articleEdit {
    padding: 40px 20px;
    width: 100%;
    background-color: white;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.2);
}

.formRow {
    margin-bottom: 20px;
}

.colValue {
    width: 50%;
}

/*下拉框提示div---start*/
.pullDownDiv {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    left: 5px;
    top: 45px;
}

.pullDownDivTipTop {
    border-top: none;
    border-right: 380px solid transparent;
    border-bottom: 50px solid palevioletred;
    border-left: 20px solid transparent;
}

.pullDownDivTipBody {
    width: auto;
    min-width: 400px;
    max-height: 600px;
    background-color: #efefef;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.pullDownDivTipBody ul {
    padding: 0px;
    margin: 0px;
}

.pullDownDivTipBody ul li {
    list-style: none;
    padding: 10px 15px;
}

.pulldownButton {
    border: none;
    float: right;
    padding: 2px 15px;
    border-radius: 3px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.pulldownButton:hover {
    background-color: #5DB85D;
}

/*下拉框a标签样式*/
#searchResult a {
    cursor: pointer;
}

#searchResult a:hover {
    text-decoration: underline;
    text-decoration-color: #5DE85D;
    font-weight: bold;
}

/*下拉框提示div----end*/