@import url('base.css');
/*主内容区css*/
#content {
    padding: 40px 20px;
    background-color: white;
    width: 80%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #EFEFEF;
}

td {
    border: 1px dotted green;
    padding: 5px 10px;
}
td img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
td.uploadTd {
    width: 150px;
    padding: 2px 5px;
    cursor: pointer;
}
td.tdCenter {
    text-align: center;
}
td.updateTd:hover{
    font-style: italic;
    font-weight: bolder;
}
/*搜索按钮与图标的位置*/

.searchInput {
    background: none;
}

.searchButton {
    left: 10px;
    top: 10px;
    background-color: green;
}

/*新增主题的form表单背景*/
.modalBody {
    background-color: #F2F2F2;
    padding: 10px;
}
/*上传组件样式*/

.upload-div *{
    box-sizing: border-box;
}
.upload-div {
    position: relative;
    width: 100%;
}
.upload-div a {
    z-index: 0;
    width: 60%;
    height: 100%;
    display: inline-block;
    background: #45bf9e;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}
.upload-div input{
    display: inline-block;
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
}
.upload-div input:hover{
    cursor: pointer;
}
/*表单*/
.formContainer * {
    box-sizing: border-box;
}
.feildErr{/*表单字段错误提示*/
    font-size: 12px;
    color: #EB2904;
}

.colLabel {
    padding-top: 20px;
}

.colValue {
    padding-top: 15px;
}
