<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/js/lib/prism/prism.css}">
    <script th:src="@{/js/lib/prism/prism.js}"></script>
    <link rel="stylesheet" th:href="@{/js/lib/jodit/plugins/paste-code/paste-code.css}">
    <script th:src="@{/js/lib/jodit/plugins/paste-code/paste-code.js}"></script>
    <link rel="stylesheet" th:href="@{/js/lib/jodit/jodit.css}">
    <script th:src="@{/js/lib/jodit/jodit.js}"></script>
    <script th:src="@{/js/base.js}" src=""></script>
    <link rel="stylesheet" th:href="@{/css/article.css}">
    <title>单体文章</title>
</head>

<body>
<div class="sticky">
    <header>
        <nav th:insert="~{common::navlist}"></nav>
    </header>
</div>
<div class="articleMain">
    <div class="articleEdit">
        <form class="formContainer" th:object="${article}" onsubmit="return false;">
            <div class="formRow">
                <div class="colLabel">
                    <label for="title">标题:</label>
                </div>
                <div class="colValue">
                    <input type="hidden" name="id" th:value="*{id}">
                    <input type="text" name="title" id="title" th:value="*{title}" minlength="2" maxlength="100">
                </div>
            </div>
            <div class="formRow">
                <div class="colLabel">
                    <label>选择所属上级文章:</label>
                </div>
                <div class="colValue">
                    <input type="text" id="searchInput" oninput="changePullDown(event);"
                           onfocus="changePullDown(event);">
                    <input type="hidden" name="pid"/>
                    <input type="hidden" name="sid"/>
                </div>
                <!--隐藏的下拉搜索框-->
                <div class="pullDownDiv" id="pullDownDiv">
                    <div class='pullDownDivTipTop'></div>
                    <div class="pullDownDivTipBody">
                        <ul id="searchResult">
                        </ul>
                    </div>
                </div>
            </div>
            <div id='editArea' class="formRow">
                <textarea id="editor" name="content" th:text="*{content}" placeholder="开始创作吧"></textarea>
            </div>
            <div style="text-align: center; margin-top: 10px;">
                <a class="doButton" style="display: inline-block;" onclick="addArticle()">保存</a>
                <a class="doButton" style="display: inline-block;margin-left: 100px;" onclick="alert('待完善')">预览</a>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    /*加载editor*/
    let editorObj = loadJoditEditor("#editor");

    /*搜索父标题,并添加*/
    //输入框变化,改变下拉框信息
    let decorator = debounce(changePullDownInfo, 500);

    function changePullDown(e) {
        let searchKey = e.currentTarget.value;
        if (searchKey && searchKey.length>0) {
            decorator();
        } else {
            clearPullDownInfo();
        }
    }

    async function changePullDownInfo() { //改变下拉框
        //查询服务器,根据请求结果改编searchResult
        let keyword = document.getElementById("searchInput").value;
        if(!keyword || keyword.trim().length===0) return;
        let formData = new FormData();
        formData.set("keyword",keyword);
        let response = await fetch("/article/findArticlesWithParentAndSubjectByKeyword",{method:"POST",body:formData});
        let serverData = await response.json();
        if (document.getElementById("searchResult").children.length > 0) {
            clearPullDownInfo();
        }
        showPullDownInfo(serverData.data);
    }

    //清除下拉内容
    function clearPullDownInfo() {
        document.getElementById("searchResult").innerHTML = null;
        document.getElementById("pullDownDiv").style.display = "none";
    }

    //显示下拉内容
    function showPullDownInfo(data) {
        let searchResult = document.getElementById("searchResult");
        let searchInput = document.getElementById("searchInput");
        //再添加
        if (!data || data.length === 0) {
            searchResult.insertAdjacentHTML('beforeend', "<p>暂无结果</p>");
        }else{
            let innerHtml = ``;
            data.forEach(a=>{
                innerHtml+=`<li data-subject-id=${a.subject.id}>`;
                printRecursion(a);
                innerHtml+=`<a data-subject-id=${a.subject.id}>${a.subject.subjectTitle}</a></li>`
            });
            function printRecursion(node){
                if(!node) return;
                innerHtml+=`<a data-article-id=${node.id}>${node.title}</a> ▶ `;
                printRecursion(node.parent);
            }
            searchResult.insertAdjacentHTML('beforeend', innerHtml);
        }
        //显示下拉框
        let div = document.getElementById("pullDownDiv");
        let inputCoords = searchInput.getBoundingClientRect();
        div.style.display = "block";
        div.style.left = inputCoords.left + "px";
        div.style.top = inputCoords.bottom + "px";
    }

    //下拉框绑定事件
    document.getElementById("searchResult").addEventListener("click",(e)=>{
        let a = e.target.closest('a');
        if(!a)return;
        document.forms[0].pid.value=a.dataset.articleId?a.dataset.articleId:'';
        document.forms[0].sid.value=a.parentElement.dataset.subjectId;

        document.forms[0].searchInput.value = a.textContent;
        document.getElementById("pullDownDiv").style.display = "none";
    });
    //下拉提示框,鼠标单击文档其它地方,会隐藏
    document.addEventListener("click", function (e) {
        if (!e.target.closest('.pullDownDiv') && document.getElementById("pullDownDiv").style.display === "block") {
            document.getElementById("pullDownDiv").style.display = "none";
        }
    });

    async function addArticle(){
        let formData = new FormData(document.forms[0]);
        formData.set("content",editorObj.value);
        let response = await fetch("/article/add",{method:'POST',body:formData});
        let result = await response.json();
        if (result.statusText === 'ok') {
           alert("保存成功");
           location.assign("/article/find")
        } else {
            //渲染错误
            if(result.data) renderFormFieldErrors(document.forms[0], result.data);
            else{
                alert(`保存失败:${result.msg}`);
            }
        }
    }
</script>
</body>

</html>