<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/subject.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <script th:src="@{/js/base.js}"></script>
    <title>主题页面</title>
</head>
<body>
<div class="sticky">
    <header>
        <nav th:insert="~{common::navlist}"></nav>
    </header>
</div>
<div id='content'>
    <!-- 功能区域-->
    <div class="functionDiv">
        <div class="searchDiv" id='searchDiv'>
            <form th:action="@{/subject/find}" th:object="${subject}" method="get" id="searchForm" onsubmit="submitSearch();return false;">
                <input id="searchInput" name="keyword" th:value="*{keyword}" type="text" class="searchInput" placeholder="输入主题名">
                <input name="pageSize" type="hidden" th:value="*{pageSize}">
            </form>
            <img id='searchButton' class='searchButton' th:src="@{/img/searchicon.png}" src="img/searchicon.png">
        </div>
        <div class='editDiv'>
            <a class="doButton" href="javascript:void(0)" onclick="modal.style.display='block'">添加主题</a>
        </div>
    </div>
    <!--table展示标题数据-->
    <section>
        <table id="table">
            <tr>
                <th>主题</th>
                <th>创建日期</th>
                <th>文章数量</th>
                <th>操作</th>
                <th>备注</th>
            </tr>
            <tr th:each="sub , stat:${data.content}" th:data-tr-gen="${sub.id}">
                <td ondblclick="editSubject(event,1)" th:attr="data-td-id=${sub.id}">
                    [[${sub.subjectTitle}]]
                </td>
                <td>[[${sub.createdAt}]]</td>
                <td>[[${sub.articleSum}]]</td>
                <td>
                    <a th:href="|/subject/${sub.id}|"><img alt="edit subject"
                                                                                            th:src="@{/img/edit.svg}"
                                                                                            title='edit subject'
                                                                                            class="edit"
                                                                                            src="img/edit.svg"></a>
                    /
                    <a href="javascript:void(0);" class=""><img alt="del subject" title='del subject' class="edit"
                                                                th:src="@{/img/delete.svg}" src="img/delete.svg"
                                                                onclick="delSub(event)"></a>
                </td>
                <td ondblclick="editSubject(event,2)" th:attr="data-td-id=${sub.id}">[[${sub.remark}]]</td>
            </tr>
        </table>
        <nav th:insert="~{common::page}"></nav>
    </section>
</div>
<!--模态窗口div-->
<div class="modal" id="modal" onclick="if(event.target==modal)modal.style.display='none'">
    <div class="modalContent">
        <div class="modalTitle">
            <span class="close" id='close' onclick="modal.style.display='none'">&times</span>
            <h3>添加主题</h3>
        </div>
        <div class="modalBody">
            <form id="subjectForm" class="formContainer" onsubmit="return false">
                <div class="formRow">
                    <div class="colLabel">
                        <label for="subjectTitle">主题<span style="color:red;">*</span>:</label>
                    </div>
                    <div class="colValue">
                        <input type="input" id="subjectTitle" name="subjectTitle" placeholder="输入标题"
                               required>
                    </div>
                </div>
                <div class="formRow" style="margin-top: 40px;">
                    <div class="colLabel">
                        <label for="remark">备注: </label>
                    </div>
                    <div class="colValue">
                        <textarea id="remark" name="remark" style="height: 200px;"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modalFooter">
            <a class="doButton" onclick="addSubject()">确定</a>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    let loadUrl = "/subject/find";
    //用返回的json数据渲染table
    function renderTable(json) {
        //清除数据区
        let table = document.getElementById("table");
        Array.from(table.querySelectorAll("tr[data-tr-gen]")).forEach(tr => tr.remove());
        json.data.content.forEach(trData => {
            let trHtml = `<tr data-tr-gen = ${trData.id}>
                                <td ondblclick="editSubject(event,1)" data-td-id="${trData.id}">${trData.subjectTitle}</td>
                                <td>${trData.createdAt}</td>
                                <td>${trData.articleSum}</td>
                                <td><a href="/subject/${trData.id}"><img alt="edit subject" title='edit subject' class="edit" src="/img/edit.svg"></a>/<a href="javascript:void(0);" class=""><img alt="del subject" title='del subject' class="edit"  src="/img/delete.svg" onclick="delSub(event);"></a></td>
                                <td ondblclick="editSubject(event,2)" data-td-id="${trData.id}">${trData.remark}</td>
                                </tr>
                               `;
            table.tBodies[0].insertAdjacentHTML("beforeend", trHtml);
        });
    }
    let currentTd = null;
    /*双击时编辑Subject*/
    function editSubject(event, type) {
        event.preventDefault();
        if (currentTd) return;
        let oldValue = event.currentTarget.innerHTML.trim();//旧的td数据
        currentTd = event.currentTarget;
        currentTd.innerHTML = `<input class='editButton' type="text" name="title" value='${oldValue}'">`;
        currentTd.firstElementChild.focus();

        let updated = null;
        //失去焦点时要提示保存
        currentTd.firstElementChild.onblur = function (e) {
                if(!updated){
                    update(e);
                }
        };
        //直接按回车也会保存
        currentTd.firstElementChild.onkeyup = function (e) {
            if (e.key === "Enter") {
                updated = true;
                update(e);
            }
        };
        function update(e) {
            if (e.target.value !== oldValue) {
                let save = confirm("保存更新数据?");
                if (save) {
                    let url = "/subject/updateSubjectTitle";
                    let formData = new FormData();
                    formData.set("id", event.target.dataset.tdId);
                    //此处调用后端服务保存
                    if (type === 1) {
                        formData.set("subjectTitle", e.target.value);
                    } else if (type === 2) {
                        //save 备注
                        url = "/subject/updateRemark"
                        formData.set("remark", e.target.value);
                    }
                    updateSubject(url, formData);
                    currentTd.innerHTML = e.target.value;
                } else {
                    currentTd.innerHTML = oldValue;
                }
            } else {
                currentTd.innerHTML = oldValue;
            }
            currentTd = null;
        }
    }

    //修改Subject
    function updateSubject(url, formData) {
        fetch(url, {
            method: "POST",
            body: formData,
        }).then(async result => {
            let json = await result.json();
            if (json.statusText !== 'ok') {
                alert("修改错误:" + json);
            }
        });
    }
    //编辑---新增主题--------------------
    function addSubject() {
        let subjectForm = document.forms.subjectForm;
        fetch("subject", {
            method: "POST",
            body: new FormData(subjectForm),
        }).then(async result => {
            let json = await result.json();
            if (json.statusText === 'ok') {
                modal.style.display = 'none';
                loadData();
                //清空隐藏的表单
                subjectForm.subjectTitle.value="";
                subjectForm.remark.value="";
                //需要渲染一下
                document.getElementById("")
                document.getElementById("total").value = parseInt(document.getElementById("total").value) + 1;
                renderPageParams();

            } else {
                //渲染错误
                renderFormFieldErrors(document.forms.subjectForm, json.data);
            }
        });
    }
    ////编辑---删除主题--------------------
    function delSub(e) {
        let tr = e.target.closest('tr');
        let id = tr.dataset.trGen;
        if (!confirm('del subject?')) return;
        fetch("subject/" + id, {method: 'DELETE'}).then(async result => {
            let json = await result.json();
            if (json.statusText !== 'ok') {
                alert("删除失败:" + json);
            } else {
                alert("删除成功");
                document.getElementById("total").value = document.getElementById("total").value - 1;
                renderPageParams();//需要渲染一下
                tr.remove();
            }
        });
    }
</script>
<script th:src="@{/js/page.js}"></script>
</body>

</html>