<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/js/lib/prism/prism.css}">
    <script th:src="@{/js/lib/prism/prism.js}"></script>
    <link rel="stylesheet" th:href="@{/js/lib/jodit/plugins/paste-code/paste-code.css}">
    <script th:src="@{/js/lib/jodit/plugins/paste-code/paste-code.js}"></script>
    <link rel="stylesheet" th:href="@{/js/lib/jodit/jodit.css}">
    <script th:src="@{/js/lib/jodit/jodit.js}"></script>
    <script th:src="@{/js/base.js}"></script>
    <link rel="stylesheet" th:href="@{/css/subject-article.css}">
    <title>主题-文章列表</title>
</head>

<body>
<div class="sticky">
    <header>
        <nav th:insert="~{common::navlist}"></nav>
    </header>
</div>
<div class="articleMain">
    <div class="articleNav">
        <div id="subjectDiv" class="subject" th:text="${subject.subjectTitle}"
             th:attr="data-subject-id=${subject.id}"></div>
        <hr>
        <ul id="titleTree" th:insert="~{this::tree(${treeL})}">
            <li th:fragment="tree(treeL)" th:unless="${#lists.isEmpty(treeL)}" th:each="parent:${treeL}"
                th:attr="data-article-info=${parent.id}">
                <span th:attr="data-deploy-status=${parent.status}" th:text="${parent.title}" class="draggable"
                      th:class="${parent.id eq article.id? 'draggable selected':'draggable' }"
                      onmousedown="titleLiDrag(event)"></span>
                <ul th:unless="${#lists.isEmpty(parent.children)}" th:insert="~{this::tree(${parent.children})}"></ul>
            </li>
        </ul>
    </div>
    <div class="articleEdit">
        <div class="deployStatus">
            <div class="hasNoContent"><span class="statusFlag">●</span><span>无内容</span></div>
            <div class="unDeployed"><span class="statusFlag">●</span><span>未发布</span></div>
            <div class="deployed"><span class="statusFlag">●</span><span>已发布</span></div>
            <div class="modifiedUnPublish"><span class="statusFlag">●</span><span>修改未发布</span></div>
        </div>
        <div>
            <input type="hidden" id="oldEnName" th:value="${article.enName}">
            <label name="enName">英文名:</label><input type="text" id="enName" name="enName"
                                                       th:value="${article.enName}"
                                                       required>

        </div>
        <div id='editArea'>
            <textarea id="editor"><th:block th:if="${article!=null}" th:text="${article.content}"></th:block></textarea>
        </div>
        <div style="text-align: center; margin-top: 10px;">
            <a class="doButton" style="display: inline-block;" onclick="updateContent()">保存</a>
            <a class="doButton" style="display: inline-block;margin-left: 100px;"
               onclick="saveAndDeploy()">保存并发布</a>
        </div>
    </div>
    <!--隐藏的下拉菜单-->
    <div class="contextmenuDiv" id="contextmenuDiv" style="display: none;">
        <div class='contextmenuTop'></div>
        <div class="contextmenuBody">
            <ul class="zcool-xiaowei-regular">
                <li id="delArticle" onclick="delArticle()">删除</li>
                <li id="updateArticleTitle" onclick="updateArticleTitle()">编辑标题</li>
                <li id="addArticle" onclick="addSubArticle()">添加子节点</li>
                <li onclick="addParentArticle(1)">添加顶级节点</li>
            </ul>
        </div>
    </div>
    <!--隐藏的下拉菜单2-->
    <div class="contextmenuDiv" style="display: none;" id="contextmenuDiv2">
        <div class='contextmenuTop'></div>
        <div class="contextmenuBody">
            <ul class="zcool-xiaowei-regular">
                <li onclick="addParentArticle(2)">添加顶级节点</li>
            </ul>
        </div>
    </div>
</div>
<div class="fakeLi" id="fakeLi"></div>
<script type="text/javascript">
    /*加载editor*/
    let editorObj = loadJoditEditor("#editor");
    /*当前文章是否保存*/
    let saved = false;
    /*初次editor的值*/
    let editorOldValue = document.getElementById("editor").value.trim();

    //编辑文章标题
    function updateArticleTitle() {
        contextmenuDiv.style.display = 'none';
        let elemLi = contextmenuDiv.selectedLi;
        let oldSpan = elemLi.firstElementChild; //保存旧的span
        let oldValue = oldSpan.textContent.trim();

        let input = document.createElement('input');
        input.className = 'editButton';
        input.type = 'text';
        input.name = 'title';
        input.value = oldValue;

        elemLi.firstElementChild.replaceWith(input);
        elemLi.firstElementChild.focus();
        let updated = false;
        //失去焦点时要提示保存
        elemLi.firstElementChild.onblur = function (e) {
            if (!updated)
                save(e);
        }
        elemLi.firstElementChild.onkeyup = function (e) {
            if (e.key === 'Enter') {
                save(e);
                updated = true;
            }
        }

        async function save(e) {
            let newValue = e.currentTarget.value;
            if (newValue !== oldValue) {
                let save = confirm("save updated title?")
                if (save) {
                    //此处调用后端服务保存
                    if (!newValue || newValue.trim().length < 2 || newValue.trim().length > 100) {
                        alert("标题字符在2~100之间");
                        return;
                    }
                    let articleId = elemLi.dataset.articleInfo;
                    let result = await updateTitle(articleId, newValue);
                    if (result.statusText === 'ok') {
                        oldSpan.innerHTML = newValue;
                    } else {
                        alert("修改失败:" + result.msg);
                        oldSpan.innerHTML = oldValue;
                    }
                }
            }
            elemLi.firstElementChild.remove(); //清除input
            elemLi.prepend(oldSpan); //改为span
        }
    }

    async function updateTitle(id, title) {
        let formData = new FormData();
        formData.set("id", id);
        formData.set("title", title);
        let response = await fetch("/article/updateTitle", {
            method: "POST",
            body: formData,
        });
        return await response.json();
    }

    //删除文章
    function delArticle() {
        contextmenuDiv.style.display = 'none';
        let li = contextmenuDiv.selectedLi;
        if (contextmenuDiv.selectedLi) {
            let del = confirm(`删除节点 <${contextmenuDiv.selectedLi.firstElementChild.textContent}>?`);
            if (del) {
                fetch(`/article/${li.dataset.articleInfo}`, {
                    method: 'DELETE'
                }).then(async response => {
                    let result = await response.json();
                    if (result.statusText === 'ok') {
                        li.remove();
                    } else {
                        alert("删除失败:" + result.msg);
                    }
                })

            }
        }
    }

    async function saveArticle(url, title, sid, pid) {
        //服务器保存
        let formData = new FormData();
        formData.set("title", title);
        formData.set("sid", sid);
        formData.set("pid", pid);
        let response = await fetch(url, {
            method: 'POST',
            body: formData,
        });
        return await response.json();
    }

    //添加新文章
    async function addSubArticle() {
        contextmenuDiv.style.display = 'none'; //关闭右键菜单
        let elem = contextmenuDiv.selectedLi;
        let subElemUl = elem.querySelector('ul');
        if (subElemUl) {
            subElemUl.insertAdjacentHTML('beforeend', `<li data-article-info=''><input class='editButton' type="text" name="title"></li>`);
        } else {
            elem.insertAdjacentHTML('beforeend', `<ul><li data-article-info=''><input class='editButton' type="text" name="title"></li></ul>`);
        }
        let input = elem.querySelector('input');
        let li = input.parentElement;
        input.focus(); //立刻获取焦点
        let updated = null;
        //失去焦点时要提示保存
        input.onblur = function (e) {
            if (!updated) {
                saveAction();
            }
        };
        //直接按回车也会保存
        input.onkeyup = function (e) {
            if (e.key === "Enter") {
                updated = true;
                saveAction();
            }
        };

        async function saveAction() { //失去焦点时,立刻处理
            let newValue = input.value ? input.value : '新建节点';
            li.innerHTML = `<span data-deploy-status="0" class="draggable" onmousedown="titleLiDrag(event)">${newValue}</span>`;

            let title = newValue.trim();
            let sid = document.getElementById("subjectDiv").dataset.subjectId;
            let pid = elem.dataset.articleInfo;
            let result = await saveArticle("/article/addSubArticle", title, sid, pid);
            if (result.statusText === 'ok') {
                addListenerForLiSpan(li.firstElementChild);
                li.dataset.articleInfo = result.data.id;
            } else {
                alert("插入失败:" + result.msg);
                li.remove();
            }
        }
    }

    //添加最外层节点
    async function addParentArticle(type) {
        if (type === 1) contextmenuDiv.style.display = 'none';
        else contextmenuDiv2.style.display = 'none';

        let li = document.createElement('li');
        li.setAttribute('data-article-info', '');
        li.innerHTML = `<input class='editButton' type="text" name="title">`;
        titleTree.insertAdjacentElement('beforeend', li);

        let input = li.firstElementChild;
        input.focus();

        let updated = null;
        //失去焦点时要提示保存
        input.onblur = function (e) {
            if (!updated) {
                saveTop(e);
            }
        };
        //直接按回车也会保存
        input.onkeyup = function (e) {
            if (e.key === "Enter") {
                updated = true;
                saveTop(e);
            }
        };

        async function saveTop(e) {
            let newValue = e.target.value ? e.target.value : '新建节点';
            li.innerHTML = `<span data-deploy-status="0" class="draggable" onmousedown="titleLiDrag(event)">${newValue}</span>`;

            let title = newValue.trim();
            let sid = document.getElementById("subjectDiv").dataset.subjectId;
            let result = await saveArticle("/article/addTopArticle", title, sid, '');
            if (result.statusText === 'ok') {
                addListenerForLiSpan(li.firstElementChild);
                li.dataset.articleInfo = result.data.id;
            } else {
                alert("插入失败:" + result.msg);
                li.remove();
            }
        }
    }

    /*为li下的所有span绑定单击事件*/
    Array.from(document.body.querySelectorAll('.draggable')).forEach(function (elem) {
        addListenerForLiSpan(elem);
    });
    //注册整个treeUl委托处理所有右键事件
    document.querySelector('.articleNav').addEventListener('contextmenu', e => {
        e.preventDefault(); //阻止默认事件
        if (!e.target.classList.contains('draggable')) {
            contextmenuDiv2.style.left = e.pageX + 'px';
            contextmenuDiv2.style.top = e.pageY + 'px';
            contextmenuDiv2.style.display = "flex";
            contextmenuDiv.style.display = 'none';
        }
    });

    //保存文章内容
    async function updateContent() {
        let checked = await checkExistEnName();
        console.log(checked);
        if (!checked) return;
        let liNode = document.body.querySelector(".selected").parentElement;
        let id = liNode.dataset.articleInfo;
        let status = parseInt(liNode.firstElementChild.dataset.deployStatus);
        let result = await saveContent(id);
        if (result.statusText === 'ok') {
            alert('保存成功');
            if (status < 2) {
                document.body.querySelector(".selected").dataset.deployStatus = 1;
            } else if (status === 2) {
                document.body.querySelector(".selected").dataset.deployStatus = 3;
            }
            editorOldValue = editorObj.value;
            document.getElementById("oldEnName").value = document.getElementById("enName").value;
        } else {
            alert(`保存失败:${result.msg}`);
        }
    }

    //保存并发布
    async function saveAndDeploy() {
        let checked = await checkExistEnName();
        console.log(checked);
        if (!checked) return;

        if (!validateField()) return;
        let liNode = document.body.querySelector(".selected").parentElement;
        //验证父节点状态是否适合发布
        if (!validateStatus(liNode)) {
            alert("存在未发布的父节点");
            return;
        }
        let id = liNode.dataset.articleInfo;
        let formData = new FormData();
        formData.set("id", id);
        let enName = document.getElementById("enName").value;
        formData.set("enName", enName);
        formData.set("content", editorObj.value);
        fetch("/deploy/saveAndUpdateStatus", {method: 'POST', body: formData})
            .then(async resp => resp.json())
            .then(async result => {
                if (result.statusText === 'ok') {
                    document.body.querySelector(".selected").dataset.deployStatus = 2;
                    editorOldValue = editorObj.value;
                    document.getElementById("oldEnName").value = document.getElementById("enName").value;
                    alert("保存成功");
                } else {
                    alert("保存失败");
                }

            });
    }

    //validate 发布状态
    function validateStatus(li) {
        //排除顶级节点
        if (li.closest("ul").id === 'titleTree') return true;
        let parent = li.closest("ul").parentElement;
        console.log(parent.firstElementChild.dataset.deployStatus)
        if (parseInt(parent.firstElementChild.dataset.deployStatus) < 2) {
            return false;
        }
        return true;
    }

    /*手工为li的span元素添加所有监听器*/

    function addListenerForLiSpan(liSpan) {
        liSpan.addEventListener('click', selectedLi);
        liSpan.addEventListener('contextmenu', function (e) {
            e.preventDefault(); //阻止默认事件
            contextmenuDiv.style.left = e.pageX + 'px';
            contextmenuDiv.style.top = e.pageY + 'px';
            contextmenuDiv.style.display = "flex";
            contextmenuDiv.selectedLi = liSpan.parentElement;

            contextmenuDiv2.style.display = 'none';
        });
    }

    /*span单击事件----------start-----------*/

    function selectedLi(e) {
        let span = e.target;
        selected(span);
    }

    function validateField() {
        if (editorObj.value.length < 20) {
            alert("内容不能少于20个字符");
            return false;
        }
        let enName = document.getElementById("enName").value;
        if (enName.length === 0 || enName.length > 100) {
            alert("标题字符在1~100之间");
            return false;
        }
        return true;
    }

    async function saveContent(id) {
        if (!validateField()) return;
        let formData = new FormData();
        formData.set("id", id);
        let enName = document.getElementById("enName").value;
        formData.set("enName", enName);
        formData.set("content", editorObj.value);
        let response = await fetch("/article/saveContent", {method: "POST", body: formData});
        return await response.json();
    }

    async function selected(span) {
        let currentLiSpan = document.body.querySelector(".selected"); //当前选中的li的span元素
        if (currentLiSpan !== span) {
            if (editorOldValue && editorOldValue !== editorObj.value && confirm("保存本次修改么?")) {
                //保存
                let oldId = currentLiSpan.parentElement.dataset.articleInfo;
                let result = await saveContent(oldId);
                if (result.statusText !== 'ok') {
                    alert(`保存失败!${result.msg}`);
                }
            }
            if (currentLiSpan) currentLiSpan.classList.remove('selected');
            span.classList.add('selected');
            //从服务器加载数据
            let newId = span.parentElement.dataset.articleInfo;
            let response = await fetch(`/article/getArticle/${newId}`, {method: 'POST'})
            let result = await response.json();
            if (result.statusText === 'ok') {
                document.getElementById("enName").value = result.data.enName ? result.data.enName : '';
                editorObj.value = result.data.content ? result.data.content : '';
                editorOldValue = editorObj.value;
            } else {
                alert(`加载文章内容失败:${result.msg}`);
            }
        }
    }

    //注册单击窗口事件
    document.body.addEventListener('click', function (e) {
        //隐藏右键菜单
        if (e.target.closest('#contextmenuDiv') !== contextmenuDiv && contextmenuDiv.style.display === 'flex') {
            contextmenuDiv.style.display = 'none';
        }
        if (e.target.closest('#contextmenuDiv2') !== contextmenuDiv2 && contextmenuDiv2.style.display === 'flex') {
            contextmenuDiv2.style.display = 'none';
        }
    });
    /*span单击事件----------end-----------*/
    /*
        拖拽文章标题:算法逻辑如下
        1 当鼠标按下时触动拖动事件,同时注册鼠标移动事件和鼠标释放事件
        2 鼠标移动事件处理逻辑
            a 鼠标移动时提前定义一个偏移量,就是鼠标箭头和拖拽物左上角的距离,以后移动时moveTo就保持这个相对距离
            b 由于拖拽的是li,其没有边框和背景,拖拽时其跟随鼠标的显示方式很难固定;所以由一个预定义的div来跟随鼠标移动,此div会读取li的值并跟随鼠标显示(且采用绝对定位)具有很强的可视性;原来的li在拖拽开始时暂时隐藏(hidden=true,表明正在拖拽中)
            c 拖拽时,为了读取拖拽物下面的可放置区域,在移动前瞬间隐藏拖拽物,移动后瞬间显示拖拽物;
            d 进入拖拽区域(class=droppable)就改变它的样式,离开拖拽区域就祛除它的样式
        3 鼠标释放事件:读取当前可放置区域并在该区域后插入要移动的li,同时要做下面三件事
            a remove鼠标移动事件(mousemove)和释放事件(mouseup)
            b 隐藏拖拽物div,显示真正的放置元素li(hidden=false)
            c 当前可放置区域的变量清空currentDroppable=null.
        4 拖拽细节控制:
            1 当拖拽物小于10px时拖拽被视为无效,这是为了防止鼠标太灵活稍微点击就可能被认为是拖拽事件
            2 在onmouseup开始时记录开始时间(startTime)和onmouseover结束时记录(记录结束事件),如果时间差小于200ms就被视为click事件而不是拖拽事件.这是为了防止click事件和拖拽事件(mousedown/mouseover)冲突;事件太短就视为click事件.
    */
    let currentDroppable;

    function titleLiDrag(e) {
        let startDragTime = Date.now(); //拖拽开始时间
        let movedPx = 0,
            startPageY = e.pageY,
            moved = false; //记录移动的像素量和有效移动标志

        let elem = e.target.closest('li'); //选择li
        /*用一个假的div来代替原来的li进行移动*/
        let shiftOffset = 10; //让拖拽物和鼠标有10px的偏移量
        fakeLi.style.display = 'inline-block';
        fakeLi.innerHTML = elem.firstElementChild.textContent;
        //先移动一下,防止位置突然跳跃
        fakeLi.style.left = e.pageX + 5 + 'px';
        fakeLi.style.top = e.pageY + 5 + 'px';

        //移动函数
        function moveTo(pageX, pageY) {
            fakeLi.style.left = pageX - shiftOffset + 'px';
            fakeLi.style.top = pageY - shiftOffset + 'px';
            movedPx += Math.abs(pageY - startPageY); //累计移动
        }

        //移动中的位置判断以及处理函数,e是注册监听器的第一个参数
        function onMouseMove(e) {

            moveTo(e.pageX, e.pageY);
            if (movedPx < 10) return; //上下移动小于10像素视为无效移动.

            moved = true; //标记为有效移动了.
            elem.hidden = true; //隐藏原来的li

            //先隐藏elem,不然下面看不到;同时判断下面的元素是否可放置
            fakeLi.style.display = 'none';
            let elemBelow = document.elementFromPoint(e.clientX, e.clientY);
            //获取下面的元素后,再显示
            fakeLi.style.display = 'inline-block';
            //如果获取不到元素,说明不在document内,忽略
            if (!elemBelow) return;
            //获取可以放置的元素
            let droppableBelow = elemBelow.closest('li[data-article-info]');
            //判断是不是原来的位置1
            if (droppableBelow) {
                let closestUl = droppableBelow.querySelector("ul");
                if (closestUl) {
                    if (elem === closestUl.firstElementChild) return;
                }
            }
            //判断是不是原来的位置2
            let previous = elem.previousElementSibling;
            if (previous && droppableBelow && (previous === droppableBelow)) return;

            //如何放置?
            /*
                1 如果droppableBelow!=null,并且之前没有进入该对象(记为currentDroppable)则设置进入该对象的操作
                2 如果之前进入过该对象,则不用改变什么
                3 如果droppableBelow==null,并且currentDroppable已经存在,这说明正在或者已经离开可放置对象currentDroppable,那么设置离开该对象的操作.
            */
            if (droppableBelow != currentDroppable) {
                if (currentDroppable) {
                    leaveDroppable(currentDroppable);
                }
                currentDroppable = droppableBelow;
                if (currentDroppable) {
                    enterDroppable(currentDroppable);
                }
            }
        }

        //鼠标释放
        async function onMouseUp(e) {
            document.removeEventListener('mousemove', onMouseMove);
            document.removeEventListener('mouseup', onMouseUp);

            //在目标元素后插入li,没有移动或者按下和松开鼠标小于200ms则视为无效移动
            if (currentDroppable && moved && startDragTime > 200) {
                if (confirm(`确定要在标签<${currentDroppable.querySelector('span').textContent}>后插入标签<${elem.querySelector('span').textContent}>么?`)) {
                    //调用服务器
                    let currentId = elem.dataset.articleInfo;
                    let targetId = currentDroppable.dataset.articleInfo;
                    let result = await moveToInServer(currentId, targetId);
                    if (result.statusText === 'ok') {
                        let parent = elem.parentElement;
                        let ul = currentDroppable.querySelector('ul');
                        if (ul) {
                            ul.prepend(elem)
                        } else {
                            currentDroppable.after(elem);
                        }
                        //如果最后移动的li外层的ul没有子元素,则干掉
                        if (!parent.querySelector('li')) parent.remove();
                    } else {
                        alert(`移动失败:${result.msg}`);
                    }
                }
                currentDroppable.querySelector('span').classList.remove('droppable');
            }
            elem.hidden = false; //放置完毕后显示
            currentDroppable = null;
            fakeLi.style.display = 'none'; //隐藏fakeLi
        }

        //注册鼠标移动监听函数,一般在document上注册,防止移动过快时事件丢失
        document.addEventListener("mousemove", onMouseMove);
        ////注册松开鼠标事件,原来的目标elem消失,委托document监听
        document.addEventListener('mouseup', onMouseUp);
        //取消浏览器默认拖拽行为
        elem.ondragstart = () => false;
    }

    //进入放置拽元素时处理
    function enterDroppable(elem) {
        currentDroppable.querySelector('span').classList.add('droppable');
    }

    //离开可放置元素时处理
    function leaveDroppable(elem) {
        currentDroppable.querySelector('span').classList.remove('droppable');
    }

    async function moveToInServer(currentId, targetId) {
        let response = await fetch(`/article/moveTo/${currentId}/${targetId}`, {
            method: 'POST'
        });
        return await response.json();
    }

    async function checkExistEnName() {
        let oldValue = document.getElementById("oldEnName").value;
        if (oldValue && oldValue === document.getElementById("enName").value) return true;
        return await checkEnName(1, document.getElementById("enName"), "/article/checkEnName");
    }

    document.getElementById("enName").addEventListener("blur", checkExistEnName);
</script>
</body>

</html>