<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/subject.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <script th:src="@{/js/base.js}"></script>
    <title>主题页面</title>
</head>
<body>
<div class="sticky">
    <header>
        <nav th:insert="~{common::navlist}"></nav>
    </header>
</div>
<div id='content'>
    <!-- 功能区域-->
    <div class="functionDiv">
        <div class="searchDiv" id='searchDiv'>
            <form th:action="@{/subject/find}" th:object="${subject}" method="get" id="searchForm"
                  onsubmit="submitSearch();return false;">
                <input id="searchInput" name="keyword" th:value="*{keyword}" type="text" class="searchInput"
                       placeholder="输入主题名">
                <input name="pageSize" type="hidden" th:value="*{pageSize}">
            </form>
            <img id='searchButton' class='searchButton' th:src="@{/img/searchicon.png}" src="img/searchicon.png">
        </div>
        <div class='editDiv'>
            <a class="doButton" href="javascript:void(0)" onclick="modal.style.display='block'">添加主题</a>
        </div>
    </div>
    <!--table展示标题数据-->
    <section>
        <table id="table">
            <tr>
                <th>主题</th>
                <th>创建日期</th>
                <th>文章数量</th>
                <th>英文名</th>
                <th>图片</th>
                <th>操作</th>
                <th>备注</th>
                <th>是否导航</th>
            </tr>
            <tr th:each="sub , stat:${data.content}" th:data-tr-gen="${sub.id}">
                <td ondblclick="editSubject(event,1)" th:attr="data-td-id=${sub.id}" class="updateTd">
                    [[${sub.subjectTitle}]]
                </td>
                <td>[[${sub.createdAt}]]</td>
                <td>[[${sub.articleSum}]]</td>
                <td ondblclick="editSubject(event,3)" th:attr="data-td-id=${sub.id}" class="updateTd">
                    [[${sub.enName}]]
                </td>
                <td th:attr="data-td-id=${sub.id}" class="uploadTd">
                    <div class="upload-div">
                        <a>上传图片</a>
                        <input type="file" accept="image/*" onchange="changeImg(event)">
                        <img onmouseover="previewBigImg(this)"
                             onmouseleave="document.getElementById('previewBigImg').style.display='none';"
                             th:unless="${sub.pic eq null}" th:src="${sub.pic}">
                        <span th:if="${sub.pic eq null}">无图片</span>
                    </div>
                </td>
                <td>
                    <a th:href="|/subject/${sub.id}|"><img alt="edit subject"
                                                           th:src="@{/img/edit.svg}"
                                                           title='edit subject'

                                                           src="img/edit.svg"></a>
                    /
                    <a href="javascript:void(0);"><img alt="del subject" title='del subject'
                                                       th:src="@{/img/delete.svg}" src="img/delete.svg"
                                                       onclick="delSub(event)"></a>
                </td>
                <td ondblclick="editSubject(event,2)" th:attr="data-td-id=${sub.id}" class="updateTd">
                    [[${sub.remark}]]
                </td>
                <td th:attr="data-td-id=${sub.id}">
                    <th:block th:if="${sub.navigation==true}">
                        <button class="deployButton" th:onclick="|reDeploySubject(${sub.id})|">重发布</button>
                    </th:block>
                    <th:block th:if="${sub.navigation==false}">否</th:block>
                </td>
            </tr>
        </table>
        <nav th:insert="~{common::page}"></nav>
    </section>
</div>
<!-- 隐藏的图片位-->
<img style="display: none;width: 100px;height: 100px;position: absolute" id="previewBigImg">
<!--模态窗口div-->
<div class="modal" id="modal" onclick="if(event.target==modal)modal.style.display='none'">
    <div class="modalContent">
        <div class="modalTitle">
            <span class="close" id='close' onclick="modal.style.display='none'">&times</span>
            <h3>添加主题</h3>
        </div>
        <div class="modalBody">
            <form id="subjectForm" class="formContainer" onsubmit="return false">
                <div class="formRow">
                    <div class="colLabel" style="padding-top: 0">
                        <label for="subjectTitle">主题<span style="color:red;">*</span>:</label>
                    </div>
                    <div class="colValue" style="padding-top: 0">
                        <input type="input" id="subjectTitle" name="subjectTitle" placeholder="输入标题"
                               required>
                    </div>
                </div>
                <div class="formRow">
                    <div class="colLabel">
                        <label for="enName">英文名<span style="color:red;">*</span>:</label>
                    </div>
                    <div class="colValue">
                        <input type="input" id="enName" name="enName" placeholder="英文名" required>
                    </div>
                </div>
                <div class="formRow">
                    <div class="colLabel">
                        <label for="picFile">图片:</label>
                    </div>
                    <div class="colValue">
                        <div class="upload-div" style="width: 200px">
                            <a style="padding: 10px">上传图片</a>
                            <input type="file" id="picFile" name="picFile" accept="image/*" onchange="previewImg(this)">
                        </div>
                    </div>
                </div>
                <div class="formRow">
                    <div class="colLabel">
                        <label for="remark">备注: </label>
                    </div>
                    <div class="colValue">
                        <textarea id="remark" name="remark" style="height: 200px;"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modalFooter">
            <a class="doButton" onclick="addSubject()">确定</a>
        </div>
    </div>

</div>
<script type="text/javascript" th:inline="javascript">
    let loadUrl = "/subject/find";

    //用返回的json数据渲染table
    function renderTable(json) {
        //清除数据区
        let table = document.getElementById("table");
        Array.from(table.querySelectorAll("tr[data-tr-gen]")).forEach(tr => tr.remove());
        json.data.content.forEach(trData => {
            let enName = trData.enName || '';
            let imgPlace = trData.pic ? `<img onmouseover="previewBigImg(this)" onmouseleave="document.getElementById('previewBigImg').style.display='none';" src="${trData.pic}" >` : `<span>无图片</span>`;
            let navTdHtml;
            if (trData.navigation) {
                navTdHtml = `<button class="deployButton" onclick="reDeploySubject(${trData.id})">重发布</button>`;
            } else {
                navTdHtml = '否';
            }
            let trHtml = `<tr data-tr-gen = ${trData.id}>
                                <td class="updateTd" ondblclick="editSubject(event,1)" data-td-id="${trData.id}">${trData.subjectTitle}</td>
                                <td>${trData.createdAt}</td>
                                <td>${trData.articleSum}</td>
                                <td class="updateTd" ondblclick="editSubject(event,3)" data-td-id=${trData.id}>${enName}</td>

                                <td data-td-id=${trData.id} class="uploadTd">
                                    <div class="upload-div">
                                        <a>上传图片</a>
                                        <input type="file" accept="image/*" onchange="changeImg(event)">
                                        ${imgPlace}
                                    </div>
                                </td>
                                <td><a href="/subject/${trData.id}"><img alt="edit subject" title='edit subject'  src="/img/edit.svg"></a>/<a href="javascript:void(0);"><img alt="del subject" title='del subject'   src="/img/delete.svg" onclick="delSub(event);"></a></td>
                                <td class="updateTd" ondblclick="editSubject(event,2)" data-td-id="${trData.id}">${trData.remark}</td>
                                <td>${navTdHtml}</td>
                                </tr>

                               `;
            table.tBodies[0].insertAdjacentHTML("beforeend", trHtml);
        });
    }

    let currentTd = null;

    /*双击时编辑Subject*/
    function editSubject(event, type) {
        event.preventDefault();
        if (currentTd) return;
        let oldValue = event.currentTarget.innerHTML.trim();//旧的td数据
        currentTd = event.currentTarget;
        currentTd.innerHTML = `<input class='editButton' type="text" value='${oldValue}'">`;
        currentTd.firstElementChild.focus();

        let updated = null;
        //失去焦点时要提示保存
        currentTd.firstElementChild.onblur = function (e) {
            if (!updated) {
                update(e);
            }
        };
        //直接按回车也会保存
        currentTd.firstElementChild.onkeyup = function (e) {
            if (e.key === "Enter") {
                updated = true;
                update(e);
            }
        };

        function update(e) {
            if (e.target.value !== oldValue) {
                let save = confirm("保存更新数据?");
                if (save) {
                    let url = "/subject/updateSubjectTitle";
                    let formData = new FormData();
                    formData.set("id", event.target.dataset.tdId);
                    //此处调用后端服务保存
                    if (type === 1) {
                        formData.set("subjectTitle", e.target.value);
                    } else if (type === 2) {
                        //save 备注
                        url = "/subject/updateRemark"
                        formData.set("remark", e.target.value);
                    } else {
                        //save 英文名
                        url = "/subject/updateEnName"
                        formData.set("enName", e.target.value);
                    }
                    updateSubject(url, formData);
                    currentTd.innerHTML = e.target.value;
                } else {
                    currentTd.innerHTML = oldValue;
                }
            } else {
                currentTd.innerHTML = oldValue;
            }
            currentTd = null;
        }
    }

    function changeImg(event) {
        let formData = new FormData(); //利用formData上传图片
        let tdId = event.target.closest("td[data-td-id]").dataset.tdId;
        formData.set("id", tdId);
        formData.append("picFile", event.target.files[0]);
        fetch("/subject/updatePic", {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(result => {
                if (result.statusText === 'ok') {
                    if (event.target.nextElementSibling.tagName === 'IMG') {
                        event.target.nextElementSibling.src = result.data.pic;
                    } else {
                        event.target.nextElementSibling.remove();
                        event.target.insertAdjacentHTML("afterend", `<img onmouseover="previewBigImg(this)" onmouseleave="document.getElementById('previewBigImg').style.display='none';" alt="uploadpic" src="${result.data.pic}">`)
                    }
                } else {
                    alert("修改失败:" + result.msg);
                }
            });
    }


    //修改Subject
    function updateSubject(url, formData) {
        fetch(url, {
            method: "POST",
            body: formData,
        }).then(async result => {
            let json = await result.json();
            if (json.statusText !== 'ok') {
                alert("修改错误:" + json);
            }
        });
    }

    //编辑---新增主题--------------------
    function addSubject() {
        let subjectForm = document.forms.subjectForm;
        console.log(subjectForm);
        fetch("/subject", {
            method: "POST",
            body: new FormData(subjectForm),
        }).then(async result => {
            let json = await result.json();
            console.log(json);
            if (json.statusText === 'ok') {
                modal.style.display = 'none';
                loadData();
                //清空隐藏的表单
                subjectForm.subjectTitle.value = "";
                subjectForm.remark.value = "";
                //需要渲染一下
                document.getElementById("")
                document.getElementById("total").value = parseInt(document.getElementById("total").value) + 1;
                renderPageParams();

            } else {
                //渲染错误
                renderFormFieldErrors(document.forms.subjectForm, json.data);
            }
        });
    }

    ////编辑---删除主题--------------------
    function delSub(e) {
        let tr = e.target.closest('tr');
        let id = tr.dataset.trGen;
        if (!confirm('del subject?')) return;
        fetch("subject/" + id, {method: 'DELETE'}).then(async result => {
            let json = await result.json();
            if (json.statusText !== 'ok') {
                alert("删除失败:" + json);
            } else {
                alert("删除成功");
                document.getElementById("total").value = document.getElementById("total").value - 1;
                renderPageParams();//需要渲染一下
                tr.remove();
            }
        });
    }

    //重新发布整个导航
    function reDeploySubject(id) {
        fetch(`/deploy/reDeploySubject/${id}`, {method: 'POST'}).then(async response => {
            let result = await response.json();
            if (result.statusText === 'ok') {
                alert("发布成功");
            } else {
                alert(`发布异常:${result.msg}`);
            }
        });
    }
</script>
<script th:src="@{/js/page.js}"></script>
</body>

</html>