<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>专题文章</title>
    <link rel="stylesheet" href="/js/lib/prism/prism.css">
    <script src="/js/lib/prism/prism.js"></script>
    <script src="/js/base.js"></script>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/articles.css"/>
    <link rel="stylesheet" href="/css/devices.css"/>

</head>

<body>
<div class="topDiv">
    <div class="topBar">
        <div class="logoDiv">
            <a href="/index.html">
                <img src="/img/logo.svg">
            </a>
        </div>
        <div class="searchDiv">
            <input type="text" name="searchKey" id="searchInput" placeholder="搜索文章..." onfocus="searchByKey(event)"
                   oninput="searchByKey(event)" onblur="onFocusLose(event);">
            <img class="searchImg" src="/img/searchicon.svg" onclick="gSearchByKey(event)">
        </div>
        <div class="userInfoDiv">
            <span>朱海保</span>
        </div>
    </div>
    <div class="navBar">
        <div class="arrow" id="leftArrow"></div>
        <i id="treeBar" class="fa fa-bars treeBar" onclick="treeBarFun();"></i>
        <nav>
            <ul id="topNav">
                <!--第一个文章标签,固定显示-->
                <li id="articleLabel"><a href="/articles/index.html">点滴文章</a></li>
            </ul>
        </nav>
        <div class="arrow" id="rightArrow"></div>
    </div>
</div>
<div class="mainDiv">
    <div class="titleTreeDiv700 titleTreeDiv" id="titleTreeDiv">
        <p class='subjectTitle' data-sub-dir></p>
        <nav class="titleTree" id="titleTree"></nav>
    </div>
    <div class="contentDiv">
        <section>
            <header><span class='articleTitle'></span></header>
            <section title="author" class="author">
                <img id="authorLogo" src="/img/subject-logo4.svg">
                <a class="authorName zcool-xiaowei-regular" href="https://twitter.com/jumperoverfgw">朱海保</a>
                <a href="https://github.com/zhuhaibao"><img class="siteImg" src="/img/github.svg"></a>
                <a href="https://twitter.com/jumperoverfgw"><img class="siteImg" src="/img/X.svg"></a>
                <span class='zcool-xiaowei-regular'>自由职业 专业开发 10年it魔域经验</span>
            </section>
            <article id='articleContent'></article>
        </section>
    </div>
</div>
<script type="text/javascript">
    loadNav();
    loadSubjectArticleTree();
</script>
</body>

</html>